
.profile_page{
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.792)), url('./assets/Cinema_Web_Site_Design.jpg') center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}